
@media (max-width: 1024px)  {
    .video-cover iframe{
        width: 92vw;
        height: calc((315/560)*(92vw));
        margin: 32px auto;
    }
    #perform{
        width: 100%;
        padding: 0;
    }
    .place-item .address{
        height: 64px;
    }
    .modal-container {
        width: 600px;
    }
    .about .introduce{
        padding: 0 16px;
    }
}

@media (max-width: 740px) {
   nav li{
       display: block;
   } 
   body >header{
       overflow: hidden;

   }
   header .search{
       display: none;
   }
   header .mobile-menu{
       display: block;
       position: absolute;
       top: 0;
       right: 0;
       height: 46px;
   }
   header nav{
       display: block;
   }
   nav a{
       width: 100%;
   }
    nav> ul> li:first-child{
       display: inline-block;
   }
   nav .subnav{
       position: static;
   }

   nav .subnav a{
        color: white;
        background-color: black;
        padding-left: 40px;
   }
   

    .flex-container{
        flex-direction: column;
    }

   .flex-item{
       width: 100%;
   }

   .about .introduce{
    padding: 0 16px;
    }

    .video-cover iframe{
        width: 92vw;
        height: calc((315/560)*(92vw));
        margin: 32px auto;
    }

    .cover-detail .left, .cover-detail .right{
        width: 100%;
        float: none;
        margin: 32px 0;
    }
    .place button{
        width: 100%;
    }
    .text-content{
        display:none;
    }
    footer i{
        padding: 4px;
    }
    footer{
        padding: 32px;
    }

}